.article-list__li {
    list-style: none;
}
.close-button{
    float: right;    
    text-align: center;
    text-decoration: none;             
    border: 0.1em solid white;
    border-radius: 5px;  
    padding: 0.2em;      
    color: white;
    background: #060620; 
    margin-right:1em;   
    font-family: cursive; 
    font-weight: 300;
    font-size:1em; 
    width:8em;
    height: 2em;        
    cursor: pointer;        
    &:hover{
        background-color: red;
        border: 2px solid red;   
    }
}
h2{
    color: #060620;
}
.article-body{
    text-align:justify;
    line-height: 150%;
    padding-right: 2rem;
}
h6{
    color: grey;
}