.article-list__li {
    list-style: none;
}
.close-button{
    float: right;    
    text-align: center;
    text-decoration: none;   
    padding: 0.2em;      
    color: #060620;   
    margin-right:1em;   
    font-family: cursive; 
    font-weight: 300;
    font-size: 0.7em;           
    cursor: pointer;        
    &:hover{
        background-color: #fcd250;
        border: 2px solid #fcd250;  
    }
}
h3{
    color: #800000;
    
}
.article-body{
    text-align:justify;
    line-height: 150%;
    padding-right: 2rem;
    color: #2F4F4F;
}
h6{
    color: grey;
    margin-top: 0.5rem;
}
.card-header{
    margin-left: -2.5rem;
}