.log-reg {    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    button{
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }
    .btn{
        display: inline-block;
        text-align: center;
        text-decoration: none;             
        border: 0.1em solid white;
        border-radius: 5px;  
        padding: 0.6em;      
        color: white;
        background: transparent; 
        margin-right:1.5em;   
        font-family: cursive;          
        cursor: pointer;        
        &:hover{
            background-color: red;
            border: 2px solid red;   
        }
       &.btn__entry {
            width: 4em;
            height: 2.7em;
                      
        }
        & .btn__reg {
            width: 6em;
            height: 3em; 
        }
}
}