.footer{
    margin: 0 auto;
    max-width: 1200px;   
    height: 15vh;
    background-color:#1d2126;        
    .footer__info {
        width: 90%;
        height: 15vh;
        display: flex;        
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;        
        .social-network-block{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .social-network-icon {
                width: 3em;
                height: 3em;
                padding-right: 1em;
            }
            .social-network-icon__email {
                width: 3.3em;
                height: 3.3em;
                padding-top: 1rem;
            }

        }
        .copyright-info {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            justify-items: center;
            color: #ececec;
            font-family: cursive;
            font-size: 0.9em;
        }
        
       
}
}