body{
    background-color: black;

    .header {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-content: center;
        background: #DAE2F8;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .logo{
            width: 30%;    
            .header__logo {
                display: block;
                width: 100%;                  
                height: auto;       
                }
        }
        .menu {
            width: 70%;
            display: flex;
            justify-content: space-around;
            .menu__item{
                text-decoration: none;
                font-size: 1.5rem;           
                font-family: fantasy; 
                display: flex;           
                align-items: center;          
            }
        }
        
    }
}