.header {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: url(../images/2.jpg) no-repeat;
    background-size: cover;  
    .logo{
        width: 30%;  
        height: auto;  
        .header__logo {
            display: block;
            width: 100%;                  
            height: auto;       
            }
    }
    .menu {
        top: 1.5rem;
        width: 70%;
        display: flex;
        justify-content: space-around;
        .menu__item{
            text-decoration: none;
            font-size: 1.5rem;           
            font-family: cursive; 
            color: white;                   
                    
        }
    }
    
}
