.header{
    width: 100%;
    height: 13vh;    
    position: sticky;
    top: 0;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#272727;   
    .logo{        
        width: 25%; 
        padding-left: 2rem;             
        .logo__text {
            color: #fcd250; 
            width: 100%;                  
            height: auto;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: bold;
            font-size: 1.8em;     
            }
    }
    .menu {
        width:60%;
        padding-right: 2rem;
        display: flex;
        justify-content: space-around;
        position: relative;  
        .menu__list {
            list-style-type: none;
            font-size: 2em;
        }            
        :Link{
            text-decoration: none;
            font-size: 1.5rem; 
            font-family: cursive;   
                               
        }       
           
            &:hover {
                .submenu {
                    display: block;
                }
            }
            &:hover {
                .submenu__item {
                    display: block;
                }
        }
        .submenu{
            display: none;
            position: absolute;
            background-color: #272727;
            margin-left: -5rem;
            padding-top:1rem;
            padding-right: 1rem;
            border-radius:5px; 
            z-index:999;                               
            .submenu__item {
                text-decoration: none;
                font-size: 1rem;           
                font-family: cursive; 
                color: #747474;
                padding: 1rem 0;
                
                
            }
            
        }
        
    }
}
 