.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;      
    .main__content1{
        height: 100vh;             
        background: url(../images/background3.png) no-repeat;
        background-size: cover;         
    }
    .main__content2{        
        height: 100vh;        
        background: url(../images/background2.jpg) no-repeat;
        background-size: cover;       
    } 
    .main__content3{
        height: 100vh;        
        background: url(../images/background4.jpg) no-repeat;
        background-size: cover; 
    }
   
}