.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;      
    .main__content1{
        height: 100vh;             
        background: url(../images/background3.png) no-repeat;
        background-size: cover;         
    }
    .main__content2{        
        height: 100vh;        
        background: url(../images/background2.jpg) no-repeat;
        background-size: cover;
        padding-left: 2rem;
       
        .zodiaks{
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: auto; 
            grid-gap: 1rem;           
            img{
                width: 15em;
                height:10em;
            }
            
        }      
    } 
    .main__content3{
        height: 100vh;        
        background: url(../images/background4.jpg) no-repeat;
        background-size: cover; 
    }
    .article-box{    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 2rem;
        margin: 0 2rem;
        .article-section{
           color: white; 
           text-align: justify;           
            img{
                float: left;
                width:18em;
                height: 11em;
                margin-right: 1rem;
                }
        h3{
            margin: 0;
            padding:0;
            padding-top: -1.5rem;
        }
       
        }
    }
}
       
       
   
