.main__content1{
    height: 100%;             
    background: #ececec;
    position: relative; 
    padding: 2rem 1rem;            
}
.main__content2{        
    height: auto;        
    background:#e3e3df;
    padding: 2rem 1rem;  
    & .display3{
        color: #272727;
        padding-bottom: 1.5rem;
            }                  
        }               

.main__content3{
    height: 100%;        
    background:#fcd250; 
    padding: 2rem 1rem;
    & .display3{            
        padding-bottom: 1.5rem;
        
            }        
}
.article-box{    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    margin: 0 2rem;
    .article-section{
        color: #272727; 
        text-align: justify; 
        overflow: hidden;          
        img{
            float: left;
            width:18em;
            height: 11em;
            margin-right: 1rem;
            }
    h3{
        margin: 0;
        padding:0;
        font-family: cursive;
        text-align: left;

        }    
    }
}
.button-group{
    display: flex;
    justify-content: space-evenly;
}


    
    

