a{
    text-decoration: none;
} 
.display3{
    color: #272727;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    padding-top: 1.5rem;   
}
.subsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1.5rem;      
    .subsection__natal{
        display: flex;
        flex-direction: column;
        max-width: 45%;
        max-height: 40%;
        border: 1px solid #ececec;
        border-radius: 5px;
        
        .display4{
            text-align: center;
            font-family: cursive;
            color: #272727; 
            background-color: #fcd250;           
        }
        .natal-img{
            width: 18em;
            height: 10em;
            margin: 1em;
        }
        .subsection__natal-text {
            font-family: cursive;
            font-size: 1em;
            color: #272727;
            text-align: justify;
            padding: 0 0.5em; 
             
        }       
    }
}  
.btn__horo{
    position: absolute;
    top: 85%;
    left: 75%;         
    font-size: 1.5em; 
    font-family: cursive;             
    background: #272727;
    padding: 0.3em 0.6em;       
    color: #fcd250;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    
} 



