.services-wrapper {    
    max-width: 1200px;
    margin: 0 auto;
    .services {
        display: flex;
        justify-content: space-between;
        .service-images{
            width: 25%;
            height: 10em;
            margin-top:1.5rem;
            margin-right: 2rem;
        }
    .service-section{
        width:70%;        
        height: 15em;
        overflow: auto;
        margin-bottom: 1.5rem;
        .service-title{
            font-family: cursive;
            color: #060620;
            font-size: 1.3em;
            font-weight: 400;
        }
        .service-description{
            font-family: cursive;
            color: #060620;
            line-height: 150%;
            text-align: justify;
            padding-right: 1.5rem;
        }
        

    }
    
    }
}