.services-wrapper { 
    margin: 0 auto;
    background: #ececec;
    padding-top: 0;
    .services {
        display: flex;
        justify-content: space-between;
        .service-images{
            width: 25%;
            height: 10em;
            margin: 0.5rem 1.5rem;
        }
    .service-section{
        width:70%;        
        height: 16em;
        overflow: scroll;
        margin-bottom: 1rem;
        .service-title{
            font-family: cursive;
            color: #060620;
            font-size: 1.3em;
            font-weight: 400;
        }
        .service-description{
            font-family: cursive;
            color: #060620;
            line-height: 150%;
            text-align: justify;
            padding-right: 1.5rem;
        }
        

    }
    
    }
}