.slider__wrapper{
    width: 88.5%;
    margin: 0 auto;
    height:60vh;
    
    .slider__item1{
        background: url(../images/111.jpg) no-repeat;
        height: 22rem;
    }
    .slider__item2{
        background: url(../images/222.jpg) no-repeat;
        height: 22rem;
    }
    .slider__item3{
        background: url(../images/333.jpg) no-repeat;
        height: 22rem;
    }
    .slider__item4{
        background: url(../images/444.jpeg) no-repeat;
        height: 22rem;
    }
    .slider__item5{
        background: url(../images/555.jpg) no-repeat;
        height: 22rem;
    }
}