.slider-wrapper{ 
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;  
    height:60vh;
    margin-top: 0.3rem;
    .slider__item{       
        height: 22rem;
        position: relative; 
        .slider-info{
            max-width: 40em;
            position: absolute;
            top:10%;
            left: 25%;
            text-align: center;
            .title{
                color: white;
                font-family: cursive;
                font-weight: 400;
                font-size: 2em;
            }
            .description{
                color: white;
                font-family: cursive;
                font-weight: 400;
                font-size: 1.2em;
            }
            .btn{
                display: inline-block;
                text-align: center;
                text-decoration: none;             
                border: 0.1em solid white;
                border-radius: 5px;  
                padding: 0.6em;      
                color: white;
                background: transparent; 
                margin-right:1.5em;   
                font-family: cursive;          
                cursor: pointer;        
                &:hover{
                    background-color: red;
                    border: 2px solid red;   
                }
            }
        }      
    }
}
