.slider__wrapper{
    width: 89%;
    margin: 0 auto;
    height:60vh;    
    .slider__item{       
        height: 22rem;
        position: relative; 
        .slider-image {
            z-index: -100;
        }
        .slider-info{
            max-width: 30em;
            position: absolute;
            top:10%;
            left: 20%;
            .title{
                color: white;
                font-family: cursive;
                font-weight: 400;
                font-size: 2em;
            }
            .description{
                color: white;
                font-family: cursive;
                font-weight: 400;
            }
        }      
    }
}
