.zodiak-items{ 
    padding: 1.5rem 3rem;     
    margin-top: 1rem;
    background: url(../images/oven-bg.jpg) no-repeat;
    background-size: cover;
    h2{
        text-align:center;
        color: #ececec;
    }
    .zodiak-text{
        color: #ececec;
        line-height: 150%;
    }
    .zodiak-text-add{
        color: #ececec;
        line-height: 150%;
        text-align: center;
    }

}